<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>

<body>
  <div>
      <table>
        <thead>
          <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Описание</th>
          </tr>
        </thead>
        <tbody>
          <% @review_metas.each do |review_meta| %>
          <tr>
            <td><%= title = review_meta.search('h1.title').text %></td>
            <td><%= price = review_meta.search('.product-info__price-current span').text %></td>
            <td><%= description = review_meta.css('.description__text').text.strip %></td>
          </tr>
         <% end %>
        </tbody>
      </table>
    </div>
</body>
</html>